
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.sidebar{
  position: fixed;
  height: 100%;
  width: 240px;
  background: dodgerblue;
  transition: all 0.5s ease;
}
.sidebar.active{
  width: 60px;
}
.sidebar .logo-details{
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar .logo-details i{
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  min-width: 60px;
  text-align: center
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 33px;
  font-weight: 500;
}
.sidebar .logo-details .brand-name{
  color: #061D33;
}
.sidebar .nav-links{
  margin-top: 10px;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  height: 50px;
}
.sidebar .nav-links li a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li a.active{
  background: #081D45;
}
.sidebar .nav-links li a:hover{
  background: #081D45;
}
.sidebar .nav-links li i{
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.sidebar .nav-links li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}
.sidebar .nav-links .log_out{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.home-section{
  position: relative;
  background: #f5f5f5;
  min-height: 10vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section{
  width: calc(100% - 60px);
  left: 60px;
}
.home-section nav{
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #061D33;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section nav{
  left: 60px;
  width: calc(100% - 60px);
}
.home-section nav .sidebar-button{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}
.home-section nav .sidebar-button span{
  color: white;
}
nav .sidebar-button i{
  font-size: 35px;
  margin-right: 10px;
  color: white;
}
.home-section nav .search-box{
  position: relative;
  height: 50px;
  max-width: 550px;
  width: 100%;
  margin: 0 20px;
}
nav .search-box input{
  height: 100%;
  width: 100%;
  outline: none;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
}
nav .search-box .bx-search{
  position: absolute;
  height: 40px;
  width: 40px;
  background: #2697FF;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  transition: all 0.4 ease;
}
/* .home-section nav .profile-details{
  display: flex;
  align-items: center;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
} */
nav .profile-details img{
  height: 40px;
  width: 40px;
  border-radius: 6px;
  object-fit: cover;
}
nav .profile-details .user_name{
  font-size: 15px;
  font-weight: 500;
  color: white;
  margin: 0 10px;
  white-space: nowrap;
}
nav .profile-details i{
  font-size: 25px;
  color: #333;
}
 .home-content{
  position: relative;
  padding-top: 104px;
  margin-left: 14rem;
  margin-top: 2rem;
}

.home-content .total-order{
  font-size: 20px;
  font-weight: 500;
}
.home-content .link-boxes{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

/* left box */
 .home-content .link-boxes .recent-link{
  width: 85%;
  background: #fff;
  padding: 10px 30px;
  margin: 0 20px;
  border-radius: 12px;
  /* box-shadow: 0 5px 10px rgba(72, 88, 203, 0.1) */
} 
/* .home-content .link-boxes .link-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
}  */
.link-boxes .box .title{
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}
.link-boxes .link-details .topic{
    font-size: 20px;
    font-weight: 500;
    background-color: #00000026;
    text-align: center;
    padding: 1px 15x;
    border-radius: 0.09rem;
}
.link-boxes .link-details .theading{
  margin: 0rem 1rem;

}
.link-boxes .link-details td{
  list-style: none;
  text-align: center;
  /* margin: 8px 5px; */
  /* margin-bottom: 1.5rem; */
  padding: 5px 10px;
}
.link-boxes .link-details td:nth-child(2){
text-align: start;
}
.link-boxes .link-details td:nth-child(3){
  text-align: start;

  }
  .link-boxes .link-details td p{
    font-size: 7px;
    }
  

@media (max-width: 1240px) {
  .sidebar{
    width: 60px;
  }
  .sidebar.active{
    width: 220px;
  }
  .home-section{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section{
    left: 220px;
    width: calc(100% - 220px);
    overflow: hidden;
  }
  .home-section nav{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section nav{
    width: calc(100% - 220px);
    left: 220px;
  }
}
@media (max-width: 1150px) {
  .home-content .link-boxes{
    flex-direction: column;
  }
  .home-content .link-boxes .box{
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }
  .home-content .link-boxes .top-link{
    margin: 0;
  }
}
@media (max-width: 1000px) {
  .overview-boxes .box{
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  nav .sidebar-button .dashboard,
  nav .profile-details .user_name,
  nav .profile-details i{
    display: none;
  }
  .home-section nav .profile-details{
    height: 50px;
    min-width: 40px;
  }
  .home-content .link-boxes .link-details{
    width: 560px;
  }
}
@media (max-width: 550px) {
  .overview-boxes .box{
    width: 100%;
    margin-bottom: 15px;
  }
  .sidebar.active ~ .home-section nav .profile-details{
    display: none;
  }
}
@media (max-width: 400px) {
  .sidebar{
    width: 0;
  }
  .sidebar.active{
    width: 60px;
  }
  .home-section{
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section{
    left: 60px;
    width: calc(100% - 60px);
  }
  .home-section nav{
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section nav{
    left: 60px;
    width: calc(100% - 60px);
  }
}

/* create-link-dashboard-layour */

:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --black: #000000;
  --gray: #838e95;
  --font-color: #869ab8;
  --btn-color: #313232;
  --text-color: #333;
  --border-btn: 0.1rem;
  --btn-margin: 0.5rem;
  --btn-padding: 0.5rem;
  --h2: 1.5rem;
  --button-click-blue: rgb(53, 147, 241);
  --insta-color: #e1306c;
  --twitter-color: #00acee;
  --facebook-color: #3b5998;
}

/* utility */
.sub-head {
  color: var(--black);
  font-size: 1.18rem;
  margin: 0.7rem 0.5rem;
  text-align: left;
}

.sub-para {
  color: var(--font-color);
  padding: 0.5rem 0.515rem;
  font-size: 1.111rem;
  font-family: sans-serif;
  text-align: left;
}

.btn {
  text-decoration: none;
  border: 0.1rem solid var(--btn-color);
  border-radius: 0.3rem;
  color: var(--btn-color);
  padding: 0.5rem 1.19rem;
  margin: 0.4rem 0.4rem;
  align-items: center;
}

h1 {
  color: var(--black);
  font-size: 2.3rem;
  margin: 0.7rem 1.5rem;
}

/* login-form goes from here */
.main_div {
  width: 45vw;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  margin: 6.5rem auto;
}
.main_div .title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: var(--blue);
}

.main_div .hidden {
  display: none;
}
.main_div #success-message {
  background-color: green;
  color: white;
  transition: opacity 5s ease-in-out;
  padding: 0.5rem;
  margin: 0.5rem 0rem;
}
.main_div #error-message {
  background-color: red;
  color: white;
  transition: opacity 5s ease-in-out;
  padding: 0.5rem;
  margin: 0.5rem 0rem;
}
.main_div .show-message {
  opacity: 1;
  display: block;
}
form {
  margin-top: 25px;
}
form .input_box {
  height: 50px;
  width: 100%;
  position: relative;
  margin-top: 2rem;
}
form .input_box .update-link-div{
  display: flex;
}
.update-link-div input:first-child{
margin-right: 0.5rem;
}
form .input_box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 25px;
  font-size: 17px;
  transition: all 0.3s ease;
  margin-top: 0.4rem;
}
form .input_box label {
  font-size: 0.8rem;
  color: #333;
}
form .input_box input:focus {
  border-color: #c8e8e9;
}
form .input_box .icon {
  position: absolute;
  top: 105%;
  right: 19px;
  transform: translateY(-50%);
  color: grey;
  font-size: 1.5rem;
  cursor: pointer;
}
form .input_box #hide-pass-icon,
#hide-re-pass-icon {
  display: none;
}


form .btn-submit {
  width: 100%;
  position: relative;
  text-align: center;
  margin-top: 1.4rem;
}
form .btn-submit button {
  background: var(--blue);
  color: #fff;
  border: none;
  width: 100%;
  padding: 0.9rem 6.9rem;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s linear;
  text-align: center;
  margin: 1.5rem 0rem;
}

form .btn-submit button:hover {
  background: var(--button-click-blue);
}
