{% extends "layout.html" %} {% block body %}
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<div class="container bootstrap snippets bootdey">
<section id="services" class="current">
    <div class="services-top">
        <div class="container bootstrap snippets bootdey">
            <div class="row text-center">
                <div class="col-sm-12 col-md-12 col-md-12">
                    <h2>What We Offer</h2>
                    <h2 style="font-size: 60px;line-height: 60px;margin-bottom: 20px;font-weight: 900;">Our Services</h2>
                    <p>Our <span class="highlight">experienced</span> and <span class="highlight">dedicated</span> staff provide these services with a smile.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-sm-12 col-md-12 col-md-10">
                    <div class="services-list">
                        <div class="row">
                            <div class="col-sm-6 col-md-4 col-md-4">
                                <div class="service-block" style="visibility: visible;">
                                    <div class="ico fa fa-magic highlight"></div>
                                    <div class="text-block">
                                        <div class="name">URL Shortnaler</div>
                                        <!-- <div class="info">Beauty and function</div> -->
                                        <div class="text">Free URL shortening services provide easy link management, optimal character counts for short sharing across platforms, high visibility, and effortless link tracking</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-md-4">
                                <div class="service-block" style="visibility: visible;">
                                    <div class="ico highlight"><i class="fa fa-line-chart" aria-hidden="true"></i>
                                    </div>
                                    <div class="text-block">
                                        <div class="name">Visit Counting</div>
                                        <!-- <div class="info">Quality code that lasts</div> -->
                                        <div class="text">Free URL shorteners monitor visit counts, offering insights into link engagement. Analyze click data effortlessly for effective online presence management.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-md-4">
                                <div class="service-block" style="visibility: visible;">
                                    <div class="ico fa fa-pencil highlight"></div>
                                    <div class="text-block">
                                        <div class="name">Custom URL</div>
                                        <!-- <div class="info">Words that tell your story</div> -->
                                        <div class="text">Create brands with custom URLs in free shorteners. Increase recall and establish a perfect online presence effortlessly. </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>                    

{% endblock %}